<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grimm.study.mapper.QrtzPausedTriggerGrpsMapper">
  <resultMap id="BaseResultMap" type="grimm.study.model.QrtzPausedTriggerGrpsKey">
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <id column="TRIGGER_GROUP" jdbcType="VARCHAR" property="triggerGroup" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="grimm.study.model.QrtzPausedTriggerGrpsKey">
    delete from qrtz_paused_trigger_grps
    where SCHED_NAME = #{schedName,jdbcType=VARCHAR}
      and TRIGGER_GROUP = #{triggerGroup,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="grimm.study.model.QrtzPausedTriggerGrpsKey">
    insert into qrtz_paused_trigger_grps (SCHED_NAME, TRIGGER_GROUP)
    values (#{schedName,jdbcType=VARCHAR}, #{triggerGroup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="grimm.study.model.QrtzPausedTriggerGrpsKey">
    insert into qrtz_paused_trigger_grps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        SCHED_NAME,
      </if>
      <if test="triggerGroup != null">
        TRIGGER_GROUP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="triggerGroup != null">
        #{triggerGroup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>