<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grimm.study.mapper.TReloadItemMapper">
  <resultMap id="BaseResultMap" type="grimm.study.model.TReloadItem">
    <id column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="args" jdbcType="VARCHAR" property="args" />
    <result column="identification" jdbcType="VARCHAR" property="identification" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    tag, args, identification, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_reload_item
    where tag = #{tag,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_reload_item
    where tag = #{tag,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="grimm.study.model.TReloadItem">
    insert into t_reload_item (tag, args, identification, 
      update_time, create_time)
    values (#{tag,jdbcType=VARCHAR}, #{args,jdbcType=VARCHAR}, #{identification,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="grimm.study.model.TReloadItem">
    insert into t_reload_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tag != null">
        tag,
      </if>
      <if test="args != null">
        args,
      </if>
      <if test="identification != null">
        identification,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="args != null">
        #{args,jdbcType=VARCHAR},
      </if>
      <if test="identification != null">
        #{identification,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="grimm.study.model.TReloadItem">
    update t_reload_item
    <set>
      <if test="args != null">
        args = #{args,jdbcType=VARCHAR},
      </if>
      <if test="identification != null">
        identification = #{identification,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where tag = #{tag,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="grimm.study.model.TReloadItem">
    update t_reload_item
    set args = #{args,jdbcType=VARCHAR},
      identification = #{identification,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where tag = #{tag,jdbcType=VARCHAR}
  </update>
</mapper>