<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grimm.study.mapper.TUserLoginLogMapper">
  <resultMap id="BaseResultMap" type="grimm.study.model.TUserLoginLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="remote_ip" jdbcType="VARCHAR" property="remoteIp" />
    <result column="remote_port" jdbcType="INTEGER" property="remotePort" />
    <result column="remote_browser" jdbcType="VARCHAR" property="remoteBrowser" />
    <result column="remote_os" jdbcType="VARCHAR" property="remoteOs" />
    <result column="login_status" jdbcType="TINYINT" property="loginStatus" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, remote_ip, remote_port, remote_browser, remote_os, login_status, 
    update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="grimm.study.model.TUserLoginLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_login_log (user_id, user_name, remote_ip, 
      remote_port, remote_browser, remote_os, 
      login_status, update_time, create_time
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{remoteIp,jdbcType=VARCHAR}, 
      #{remotePort,jdbcType=INTEGER}, #{remoteBrowser,jdbcType=VARCHAR}, #{remoteOs,jdbcType=VARCHAR}, 
      #{loginStatus,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="grimm.study.model.TUserLoginLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="remoteIp != null">
        remote_ip,
      </if>
      <if test="remotePort != null">
        remote_port,
      </if>
      <if test="remoteBrowser != null">
        remote_browser,
      </if>
      <if test="remoteOs != null">
        remote_os,
      </if>
      <if test="loginStatus != null">
        login_status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="remoteIp != null">
        #{remoteIp,jdbcType=VARCHAR},
      </if>
      <if test="remotePort != null">
        #{remotePort,jdbcType=INTEGER},
      </if>
      <if test="remoteBrowser != null">
        #{remoteBrowser,jdbcType=VARCHAR},
      </if>
      <if test="remoteOs != null">
        #{remoteOs,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null">
        #{loginStatus,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="grimm.study.model.TUserLoginLog">
    update t_user_login_log
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="remoteIp != null">
        remote_ip = #{remoteIp,jdbcType=VARCHAR},
      </if>
      <if test="remotePort != null">
        remote_port = #{remotePort,jdbcType=INTEGER},
      </if>
      <if test="remoteBrowser != null">
        remote_browser = #{remoteBrowser,jdbcType=VARCHAR},
      </if>
      <if test="remoteOs != null">
        remote_os = #{remoteOs,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null">
        login_status = #{loginStatus,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="grimm.study.model.TUserLoginLog">
    update t_user_login_log
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      remote_ip = #{remoteIp,jdbcType=VARCHAR},
      remote_port = #{remotePort,jdbcType=INTEGER},
      remote_browser = #{remoteBrowser,jdbcType=VARCHAR},
      remote_os = #{remoteOs,jdbcType=VARCHAR},
      login_status = #{loginStatus,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>